body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

.password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #024A7A;
    ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#message {
    color: red;
    font-size: 12px;
}


.label-password {
    position: relative;
    display: inline-block;
    width: 100%;
}

.password {
    padding-right: 40px; 
}

.toggle-password1,
.toggle-password1-slash,
.toggle-password2,
.toggle-password2-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}
.fas {
    color: #024A7A;
    font-size: 18px;
}

