<!-- Inspired By 'Spidercat' GIF created by Markus Magnusson -->
<!DOCTYPE html>
<html>
<head>
    <title>Spiderman</title>
    <link href="/static/styles.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
</head>
<body>
    <div class="container">
        <div class="spiderman">
            <div class="rope">
                <div class="legs">
                    <div class="boot-l">
                        <div class="boot1">
                            <div class="boot2"></div>
                        </div>
                    </div>
                    <div class="boot-r">
                        <div class="boot1">
                            <div class="boot2"></div>
                        </div>
                    </div>
                </div>
                <div class="costume">
                    <div class="cntr">
                        <div class="spider">
                            <div class="s1"></div>
                            <div class="s2"></div>
                            <div class="s3"></div>
                            <div class="s4"></div>
                        </div>
                    </div>
                    <div class="belt"></div>
                    <div class="hand-r">
                        <div class="hand1"></div>
                    </div>
                    <div class="hand-l">
                        <div class="hand1"></div>
                    </div>
                    <div class="neck"></div>
                    <div class="mask">
                        <div class="eye-l"></div>
                        <div class="eye-r"></div>
                    </div>
                    <div class="cover"></div>
                </div>
            </div>
        </div>
        <a href="https://yura-platonov.github.io/Team-Chat/" target="_blank">Ходи сюди до чату!!!</a>
        <br>
        <br>
        <a  href="https://cool-chat.club/chat/" target="_blank">Чат для тестування 💬</a>
    </div>
    <h2>Instruction</h2>
    <p>Можна погратись з веб чатом але бубен в руки 🎃</p>
    <p>rooms={Вписуємо назву кімнати}</p>
    <p>token={Токен беремо із СВАГЕРА при авторизації}</p>
    <p>Вставляємо це все в строку URL і граємось</p>
    <p>https://cool-chat.club/chat?rooms={rooms}&token={token}</p>
</body>
</html>