<!DOCTYPE html>
<html>
<head>
    <title>Password Verification Page</title>
    <link rel="stylesheet" type="text/css" href="static/new_password.css">
</head>
<body>
    <div class="container">
        <input type="password" id="password1" placeholder="Введіть пароль">
        <input type="password" id="password2" placeholder="Підтвердіть пароль">
        <button id="submitBtn">Перевірити</button>
        <p id="message"></p>
    </div>

    <script src="static/script.js"></script>
</body>
</html>


