<!DOCTYPE html>
<html>
<head>
    <title>Password Verification Page</title>
    <link rel="stylesheet" type="text/css" href="/static/new_password.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <label class="label-password">
            <input type="password" id="password1" placeholder="New password" class="password">
            <i class="toggle-password1 fas fa-eye" onclick="togglePassword('password1')"></i>
            <i class="toggle-password1-slash fas fa-eye-slash" onclick="togglePassword('password1')"></i>
        </label>

        <label class="label-password">
            <input type="password" id="password2" placeholder="Confirm password" class="password">
            <i class="toggle-password2 fas fa-eye" onclick="togglePassword('password2')"></i>
            <i class="toggle-password2-slash fas fa-eye-slash" onclick="togglePassword('password2')"></i>
        </label>        

        <button id="submitBtn">Verification</button>

        <p id="message"></p>
    </div>

    <script src="static/script.js"></script>
</body>
</html>