

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: url('https://dsfokvnqjxxsziqofvss.supabase.co/storage/v1/object/public/Front_icon/coolchat/only-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
  html {
      height: 100%;
      /* margin: 15px 15px 15px 15px; */
  }
}
@media (max-width: 150px) {
  html {
      height: 60%;
      /* margin: 25px 25px 25px 25px; */
  }
}
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }



 
    .container {
      width: 100%;
      padding-right: 30px;
      padding-left: 30px;
      margin-right: auto;
      margin-left: auto;
    box-sizing:border-box;}

    @media (max-width: 400px) {
      .container {
          width: 100%;
          padding: 10px;
      }
  }
      @media (min-width: 576px) {
        .container {
          max-width: 540px; } }
      @media (min-width: 768px) {
        .container {
          max-width: 720px; } }
      @media (min-width: 992px) {
        .container {
          max-width: 960px; } }
      @media (min-width: 1200px) {
        .container {
          max-width: 1140px; } }


          .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px; }
          
          .no-gutters {
            margin-right: 0;
            margin-left: 0; 
          overflow: auto;
          }
            .no-gutters > .col,
            .no-gutters > [class*="col-"] {
              padding-right: 0;
              padding-left: 0; }


    /*text style*/
  h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

  p {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent; 
}
h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }


/*input style*/
  input:not(.btn-primary), #message{
    color:#ffffff;
    border-radius: 7px 7px 7px 7px;
    border:#e9ecef00;
    backdrop-filter: blur(2px);
    background: linear-gradient(180.00deg, rgba(252, 252, 252, 0),rgba(123, 191, 255, 0) 100%);
  }

  textarea {
    resize: none;
    width: 100%; 
    max-width: 100%; 
    height: auto;
    min-height: 150px; 
    box-sizing: border-box;
    max-width: 320px;}

    input {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      overflow: visible; }



      
@media (max-width: 1200px) {
  input:not(.btn-primary), #message, textarea {
    width: 100%; 
  }
}

@media (max-width: 992px) {
  input:not(.btn-primary), #message, textarea {
    width: 90%; 
  }
}

@media (max-width: 768px) {
  input:not(.btn-primary), #message, textarea {
    width: 90%; 
  }
}

@media (max-width: 576px) {
  input:not(.btn-primary), #message, textarea {
    width: 100%; 
    padding: 5px; 
  }
}

@media (max-width: 240px) {
  input:not(.btn-primary), #message, textarea {
    width: 60%; 
    padding: 10px; 
  }
}

.form-control {
  display: block;
  width: 150%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

  

 /* Підтримка зменшеної анімації */
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; 
  }
}

/* Стан фокусу для форми */
.form-control:focus {
  color: #ffffff;
  background-color: rgba(43, 93, 133, 0.34); 
  border-color: #80bdff;
  outline: 0;
}

/* Плейсхолдери для різних браузерів */
.form-control::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
  padding-left: 10px;
}

.form-control:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  padding-left: 10px;
}

.form-control::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
  padding-left: 10px;
}

.form-control::placeholder {
  color: #ffffff;
  opacity: 1;
  padding-left: 10px;
}

/* Стан для вимкнених і тільки для читання елементів форми */
.form-control:disabled, 
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  padding-left: 10px;
}

/* Стан фокусу для елементів select в IE */
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
  padding-left: 10px;
}

.form-group {
margin-bottom: 1rem; }

 .col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
 }


      @media (min-width: 768px) {
      
        .col-md-6 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%; }
      
        .col-md-10 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
          max-width: 83.33333%; }
       
        .col-md-12 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
           }}

        




.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

  .align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
   }



    .align-items-center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;  }

.mb-4 {
  margin-bottom: 1.5rem;}
.p-4 {
  padding: 1.5rem; }

  /* .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: regular;
  } */
  
  .contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
  }
  
  #contactForm .error {
    color: #f65c78;
    font-size: 12px;
  }
  
  #contactForm .form-control {
    font-size: 16px;
  }
  
  .no-gutters {
    box-sizing: border-box;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(101, 101, 101, 0.1) 100%);
    border: 2px solid rgba(216, 216, 216, 0.6);
    border-image: radial-gradient(circle, rgba(233, 233, 233, 1), rgba(1, 1, 1, 0.3) 1);
  }

/* icon style*/
  .dbox {
    display: flex;
    align-items: center;
  }
  
  .dbox p span {
    color: #ffffff;
  }
  
  .info-wrap .dbox p a {
    color: rgb(255, 255, 255);
  }
  
  .dbox .icon {
    width: 50px;
    height: 50px;
    
  }
  
  .dbox .icon span {
    font-size: 20px;
    color: #ffffff;
    
  }

  .btn-primary {
    font-weight: regular; 
    color: #ffffff;
    width: 140px;
    height: 40px;
    box-sizing: border-box;
    border: 0px solid #ffffff00; 
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.442), rgba(55, 158, 255, 0) 100%);
  }
  
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .text-up {
    padding-bottom: 7%;
  }

  .wrapper{
    width: 100%;
    overflow: auto;
  
    -webkit-box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
    box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
  }

  .contact-wrap {
    overflow: auto;
  }

  .ftco-section{
    padding: 2em 2em;
    max-height: 100vh;
		overflow: auto;
  }
  
  .ftco-no-pt{
    padding-top: 0;
  }
  .ftco-no-pb{
    padding-bottom: 0;
  }

  

/*Video-background*/
        /* .video-background {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            background-size: cover;
        }
        .content {
            position: relative;
            z-index: 10;
            color: white;
            text-align: center;
            padding: 20px;
        }
        .form-group textarea {
            width: 100%;
        } */